@import '@/styles/mixins/typography.sass'
    
.Sources
    padding-top: 32px
    padding-bottom: 32px
    column-gap: 64px
    column-count: 3
    max-width: calc(100vw - 400px)
    box-sizing: border-box
    padding-right: 128px
    overflow-wrap: break-word
    .source
        display: flex
        flex-direction: column
        margin-bottom: 24px
        .headline
            margin-bottom: 4px
            .index
                @include typography("small")
                font-feature-settings: 'sups' 1
                font-size: 12px
                line-height: 13px
            .title
                @include typography("small") 
                font-size: 12px
                line-height: 13px
        .keyValuePair
            .title
                @include typography("normal")
                opacity: .5
                margin-right: 8px
                font-size: 12px
                line-height: 13px
            .value
                @include typography("normal")
                font-size: 12px
                line-height: 13px
