@import '@/styles/mixins/typography.sass'
    
.Chapter
    padding: 32px 48px
    display: flex

    .content
        max-width: 700px
        @media (max-width: 768px)
            width: calc(100vw - 48px)
        .info
            @include typography("head") 
            background-color: black
            color: white
            margin-left: -16px
            margin-top: -16px
            margin-right: -16px
            padding: 16px 16px
            display: flex
            flex-direction: column
            justify-content: space-between
            margin-bottom: 128px

            .animation
                margin-bottom: 64px

            .title
                margin-bottom: 128px

        .next
            margin-top: 64px
            opacity: .6
            text-decoration: none
            color: #000
            display: flex
            transition: opacity .3s
            .arrow
                margin-right: 16px
            .information
                display: flex
                flex-direction: column
                .continue
                    @include typography("normal")
                .title
                    @include typography("small")

            &:hover
                opacity: 1


    .annotations
        max-width: 300px
        flex-grow: 1
        margin-left: 64px
