.Citation
    display: inline-block
    .index 
        font-feature-settings: 'sups' 1
        cursor: pointer

    .citationInfo
        position: absolute
        opacity: .6
        cursor: pointer

    .moreInfo
        width: 500px
        cursor: pointer
        position: absolute
        z-index: 50
        background-color: white

        .keyValuePair
            .title
                margin-right: 8px
                opacity: .5