@import '@/styles/mixins/typography.sass'
    
.Nav
    position: relative
    width: 300px
    box-sizing: border-box
    max-height: 500px

    .inner
        padding: 32px
        position: fixed
        box-sizing: border-box
        display: flex
        flex-direction: column
        width: inherit

        .intro
            margin-bottom: 64px
            display: flex
            flex-direction: column
            .title
                @include typography("small")
                margin-bottom: 64px
                text-decoration: none
                color: #000000
            .border
                height: 4px
                width: 100%
                background-color: rgba(0,0,0,.3)
                width: calc(100% - 32px)
                border-radius: 2px
        
        .chapters
            display: flex
            flex-direction: column

            .chapter
                @include typography("normal")
                display: flex
                flex-direction: column
                opacity: .5
                margin: 8px 0
                transition: opacity .3s

                &.active
                    opacity: 1

                &:first-child
                    margin-top: 0

                .link
                    text-decoration: none
                    color: black

                    .subchapters
                        overflow: hidden
                        display: flex
                        flex-direction: column
                        margin: 8px 0 8px 16px

                        .scrollactive-item
                            text-decoration: none
                            color: #000000
                            opacity: .5
                            margin-bottom: 8px
                            transition: opacity .3s

                            &:last-child
                                margin-bottom: 0

                            &.is-active
                                opacity: 1

        .sources
            margin-top: 32px
            a
                @include typography("normal")
                font-style: italic
                text-decoration: none
                color: #000000

.fadeHeight-enter-active,
.fadeHeight-leave-active
  transition: all .3s;
  max-height: 230px;

.fadeHeight-enter,
.fadeHeight-leave-to
  opacity: 0;
  max-height: 0px;
