@import '@/styles/mixins/typography.sass'
    
.Nav
    box-sizing: border-box
    width: inherit
    height: 100vh
    background-color: white
    .inner
        box-sizing: border-box
        display: flex
        position: fixed
        width: inherit
        padding-right: 64px
        flex-direction: column
        .intro
            margin-bottom: 16px
            display: flex
            flex-direction: column
            .title
                @include typography("tiny")
                margin-bottom: 32px
                text-decoration: none
                color: #000000
        .chapters
            display: flex
            flex-direction: column

            .chapter
                @include typography("tiny")
                display: flex
                flex-direction: column
                opacity: .5
                margin: 8px 0
                transition: opacity .3s

                &.active
                    opacity: 1

                &:first-child
                    margin-top: 0

                .link
                    text-decoration: none
                    color: black

                    .subchapters
                        overflow: hidden
                        display: flex
                        flex-direction: column

                        .scrollactive-item
                            text-decoration: none
                            color: #000000
                            opacity: .5
                            margin-top: 14px
                            margin-left: 16px
                            transition: opacity .3s

                            &:last-child
                                margin-bottom: 0

                            &.is-active
                                opacity: 1
        .appendix
            margin-top: 32px
            opacity: .5
            transition: opacity .3s
            a
                @include typography("tiny")
                font-style: italic
                text-decoration: none
                color: #000000
            &.active
                opacity: 1
        .sources
            margin-top: 16px
            opacity: .5
            transition: opacity .3s
            a
                @include typography("tiny")
                font-style: italic
                text-decoration: none
                color: #000000
            &.active
                opacity: 1

.fadeHeight-enter-active,
.fadeHeight-leave-active
  transition: all .5s;
  max-height: 300px;

.fadeHeight-enter,
.fadeHeight-leave-to
  opacity: 0
  max-height: 0px

.fade-enter-active,
.fade-leave-active
  transition: all .4s;

.fade-enter,
.fade-leave-to
  opacity: 0;
